body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h1,
p {
    text-align: center;
}

#genres {
    text-align: center;
    font-size: 12px;
}

.button-control {
    text-align: center;
}